<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: user_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>


      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.file_field :avatars, multiple: true %>
 <% unless @user.avatars.empty?%>
      <% @user.avatars.each do |avatar| %>
        <%= image_tag(avatar.url) %>
    <%#= f.file_field :avatar %>
        <%#= f.hidden_field :avatar_cache %>
      <% end %>  
<% end %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.fields_for :fields do |builder| %>
        <%= render 'field_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add Field", f, :fields %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>